doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title= title
        link(rel="shortcut icon" href="https://cdn.sstatic.net/Sites/stackoverflow/Img/favicon.ico?v=ec617d715196")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous")
        link(href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400&display=swap" rel="stylesheet")
        link(href="/styles/layout.css" rel="stylesheet")
       
    body
        nav(class="navbar navbar-expand-lg bg-white sticky-top")
            a(class="navbar-brand" href="/"): img(src="/assets/logo.jpg" width="205" height="41" alt="")
            if locals.authenticated
                span(class='nav-bar-1')
                form(class='form-inline' action='/users/logout' method='post')
                    button(class='navbar btn btn-primary' type='submit') Logout
            else
                span(class='navbar ml-auto')
                    a(class="btn btn-success m-1" href='/users/login') Login
                    a(class="btn btn-primary m-1" href='/users/sign-up') Sign Up
        block content
            div(class="jumbotron text-center bg-warning")
                embed(#="hero-image" src="/assets/jumbo.svg" height="400" width="800")
                h1.display-4 We <3 questions
                    p.lead
                    | We aim to inspire developers and connect them to solutions that drive growth.
                    p.lead
                    a.btn.btn-lg.btn-light(href='/questions' role='button') All Questions

            div.main
                div.container.marketing
                    div.desc-top
                        h2.desc-top-title.text-center.text-secondary For Developers, by developers
                        div.bar-pill
                        div.desc-top-text
                            p.p-desc-top-text.text-center.text-secondary
                                | Stack Overflow is an open community for anyone that codes.
                    div.row
                        div(class="shadow p-3 mb-5 bg-white rounded col-lg-4")
                            div(class="svgss")
                                embed(#="hero-feature" src="/assets/svg23.svg")
                            h2 Browse jobs
                            p
                                | Find the right job through high quality listings and search for roles based on title, technology stack, salary, location, and more.
                            p
                                a.btn.btn-secondary(href='#' role='button') Find a job
                        div(class="shadow p-3 mb-5 bg-white rounded col-lg-4")
                            div(class="svgss")
                                embed(#="hero-feature" src="/assets/svg22.svg")
                            h2 Private Q&A

                            p
                                | Level up with Stack Overflow while you work. Share knowledge privately with your coworkers using our flagship Q&A engine.
                            p
                                a.btn.btn-secondary(href='#' role='button') Try for free
                        div(class="shadow p-3 mb-5 bg-white rounded col-lg-4")
                            div(class="svgss")
                                embed(#="hero-feature" src="/assets/svg21.svg")
                            h2 Public Q&A

                            p
                                | Get answers to more than 16.5 million questions and give back by sharing your knowledge with others. Sign up for an account.
                            p
                                a.btn.btn-secondary(href='#' role='button') Browse questions

            div(class="container jumbotron bg-dark")
                div.desc-top
                    h2.desc-top-title.text-center Full Stack replica of Stack Overflow
                    div.bar-pill
                    div.desc-top-text
                        p.p-desc-top-text.text-center
                            | In this application we used Javascript, HTML/CSS, Bootstrap, NPM libraries, AJAX, Express, Postgres, BCrypt
                div.card-deck.mb-3.text-center
                    div.card.mb-4.box-shadow
                        div.card-header
                            h4(class="my-0 font-weight-normal") Basic
                        div.card-body
                            h1(class="card-title pricing-card-title") $6
                                small(class="text-muted") /mo
                            ul(class="list-unstyled mt-3 mb-4")
                                li Free 30 day trial
                                li Your own private space
                                li Fully searchable archive
                                li Help center access
                            button(class="btn btn-lg btn-block btn-primary" type="button") Get started for free
                    div.card.mb-4.box-shadow
                        div.card-header
                            h4(class="my-0 font-weight-normal") Pro
                        div.card-body
                            h1(class="card-title pricing-card-title") $12
                                small(class="text-muted") / mo
                            ul(class="list-unstyled mt-3 mb-4")
                                li 20 users included
                                li 10 GB of storage
                                li Priority email support
                                li Help center access
                            button(class="btn btn-lg btn-block btn-primary" type="button") Get started
                    div.card.mb-4.box-shadow
                        div.card-header
                            h4(class="my-0.font-weight-normal") Custom pricing
                        div.card-body
                            h1(class="card-title pricing-card-title") $29
                                small(class="text-muted") / mo
                            ul(class="list-unstyled mt-3 mb-4")
                                li 30 users included
                                li 15 GB of storage
                                li Phone and email support
                                li Help center access
                            button(class="btn btn-lg btn-block btn-primary" type="button") Request a demo
            div(class="container jumbotron bg-light")
                            div.desc-top
                                h2.desc-top-title.text-center.text-secondary For businesses, by developers
                                div.bar-pill
                                div.desc-top-text
                                    p.p-desc-top-text.text-center.text-secondary
                                        | Our mission is to help developers write the script of the future.
                            div.row.text-center
                                div(class="shadow p-3 mb-5 bg-white rounded col-lg-4")
                                    div(class="svgss")
                                        img.d-block(src='https://cdn.sstatic.net/Img/home/private-questions.svg?v=a4f1cfb08f7e' width='76')
                                    h2 Private Q&A
                                    p
                                        | Quickly find and share internal knowledge.
                                div(class="shadow p-3 mb-5 bg-white rounded col-lg-4")
                                    div(class="svgss")
                                        img.d-block(src='https://cdn.sstatic.net/Img/home/find-candidate.svg?v=9099aa106ad3' width='76')
                                    h2 Talent Solutions
                                    p
                                        | Find the perfect candidate for your growing technical team.
                                div(class="shadow p-3 mb-5 bg-white rounded col-lg-4")
                                    div(class="svgss")
                                        img.d-block(src='https://cdn.sstatic.net/Img/home/accelerate.svg?v=9d4c2786ff02' width='76')
                                    h2 Advertising platform
                                    p
                                        | Accelerate the discovery of your products or services.