extends layout.pug
include utils.pug
block content
    form(action='/question/ask' method='post')
    +field('Question', 'title', question.title)
    +field('Body', 'message', question.message)
    div(class='py-4')
      button(type='submit' class='btn btn-primary') Ask Question
      a(href='/' class='btn btn-warning ml-2') Cancel
