extends layout.pug

block content
    div(id="question-container")
        h2= question.title
        h3 Asked by #{user.username} at #{question.createdAt}
        div
            p= question.message
        div(id="answers-container")
