extends layout.pug

block content
    h2 Questions
    a(href='/questions/ask') Ask a Question
    div(class="questions")
        for question in questions
            div(class="questions")
                li Question:
                    a(href=`/questions/${question.id}`) ##{question.id}
                li= question.title
