extends layout.pug

block content
    h2 Questions
    a(href='/questions/ask') Ask a Question
    div(class="questions")
        ul
            for question in questions
                li= quesiton.id
                li= question.title
                a(href=`/quesions/#{id}`)
