.question-id{
    float: left;
    height: 175px;
    border-top: 1px solid grey;
    width: 100px;
}

.question-id p,
.question-id h2{
    text-align: center;
}

.card{
    height: 175px;
    border-top: 1px solid grey;
}

.question-holder{
    height: 175px;
}
